<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="heading">
  <a class="iconbutton" (click)="logout()">
    <i class="fa fa-user-circle" aria-hidden="true" style="float:right;margin-right:1%;font-size: 30px;margin-top: 5px;"></i>
  </a>
  <div class="heading" style="float:left;width: 90%;"><h4 style="margin-left: 1%">Welcome {{username}},</h4>
  </div>
 </div>
 <div class="heading">
   <div class="container-fluid" style="float: left;width:90%;">
    <!-- <div class="col-md-offset-1">
    </div> -->
    <a style="margin-left:10px" class="button" (click)="showProfile()">Mentor Profile | </a>
    <a style="margin-left:10px" class=" button"  (click)="showUser()">Students List | </a>
    <a style="margin-left:10px" class="button"  (click) ="showPayment()">Payment Trainings | </a>
    <a style="margin-left:10px" class="button"  (click) ="showNotification()">Notification </a>
    <!-- <a style="margin-left:10px" class="button">Notification</a> -->
    
    </div>
  </div>
  <app-mentorprofile *ngIf="mentorProfile"></app-mentorprofile>
  <app-mentoruser *ngIf="mentorUser"></app-mentoruser>
  <app-paymentmentor *ngIf="payment"></app-paymentmentor>
  <app-mentornotification *ngIf="notification"></app-mentornotification>
  <style>
     .heading{
        height:40px;
        background-color: lightcoral;
      }
      a{
        color: black;
        margin-top: 10px;
        margin-left: 10px;
        text-decoration: none;
        font-family: monospace;
        font-size: 25px;
        cursor: pointer;
      }
      a:hover{
        color:blue;
        /* border-bottom: 1px solid red; */
      }
  </style>